page-prebooking {

.priceSummary button{ padding:0 0.6em !important;}
.priceSummary .label{ margin-right:0px ;}
.priceSummary .grid{ padding:0px;}
}


.error-message{ padding: 5px 5px 2px 16px;
    font-size: 13px;
    color: #ff0000;
}

.error-message b{font-weight:600 !important;}
